__pycache__/
*.py[cod]
.venv/
venv/
.env
data/input/**/*.pdf

data/archive/**
*.zip.done
pgdata/
sql/queries.sql
sql/rest_for_reimport.sql

requirements-docker.txt
requirements-docker.txt
Dockerfile
sql/queries.sql
sql/reset_for_reimport.sql


